/*
The jsx code is simple:
const Brand = () => (
  <div className="hs__division section__padding">
    <div>
      <img src={google} alt="google" />
    </div>
*/

.hs__division {         /* See above jsx code  was hp__brand*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hs__division div {     /* See above jsx code, multiple <div>s inside __hp__brand */
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  margin: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 3%;
}
