.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 100%;  // Use all width for sign in form input boxes

  h3 {
    margin: 10px 0;
    text-align: left;
    font-family: var(--font-family);
    font-weight: normal;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      justify-content: left;
    }
  }
}
