.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 380px;

  h3 {
    margin: 10px 0;
    text-align: left;
    font-family: var(--font-family);
    font-weight: normal;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      justify-content: left;
    }
  }
}

@media screen and (max-width: 550px) {
  .sign-in-container {
    width: 305px;
  }
}