$color_1: #fff;
$font-family_1: var(--font-family);
$border-color_1: yellow;

.hp__blog-container_article {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: var(--color-footer);
}
.hp__blog-container_article-image {
	width: 100%;
	height: 100%;
	background: var(--color-bg);
	// border-style: solid;   // YC TEMP
	// border-color: $border-color_1;
	// border-width: 2px;
  
  // Adding the height and width attributes to your IMG SRC HTML tag allows the
  // browser to know how much space to leave for an image. Without these values,
  // the browser doesn't initially create a space for the image, which means
  // elements surrounding the image are adjusted after it has loaded.
	img {
		width: 100%;
		height: 100%;
    // border: solid 1px yellow;  // Add for HP
    border-radius: 3%;           // Add for HP
	}
}
.hp__blog-container_article-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	height: 100%;
	p {
		font-family: $font-family_1;
		font-size: 11.65px;
		font-weight: 700;
		line-height: 35px;
		color: $color_1;
		&:last-child {
			cursor: pointer;
		}
	}
	h3 {
		font-family: $font-family_1;
		font-size: 25.11px;
		font-weight: 800;
		line-height: 30.30px;
		color: $color_1;
		margin-bottom: 5rem;
		cursor: pointer;
	}
}
@media screen and (max-width: 550px) {
	.hp__blog-container_article-content {
		h3 {
			font-size: 18px;
			line-height: 25p;
		}
	}
}
