.sign-up-container {
  display: flex;
  flex-direction: column;
  width: 100%; // Use all width for sign up form input boxes

  h3 {
    margin: 10px 0;
    text-align: left;
    font-family: var(--font-family);
    font-weight: normal;
    font-size: 20px;
  }

  .buttons-container {
    display: flex;
  }
}
