.hp__footer {
  display: flex;
  flex-direction: column;      /* colume direction top: heading, middle: btn, bottom: links*/
  justify-content: center;    /* btin is a nested row flex with only one <p> in the middle */
  align-items: center;

  background: var(--color-footer);
}

.hp__footer-heading {
  width: 100%;
  text-align: center;

  margin-bottom: 3rem;

  /* border: 2px solid yellow;   These 4 lines are used to show .gpt__footer-heading
     padding-top: 2rem; */
}

.hp__footer-heading h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 52px; /* 64px; */
  line-height: 75px;
}

.hp__footer-btn {
  /* display: flex;            /*  This is flex has no effec seems not to be necessary */
  justify-content: center;
  align-items: center;

  padding: 1rem;              /* This padding determing the size of the button */
  border: 1px solid #fff;   /* The buttom is actually a <p> so the size is determined by paading */
  text-align: center;         /* The button in the middle */

  margin-bottom: 10rem;       /* In the middle is the second block of flex, use this 10rem so the button in ontop */
  cursor: pointer;
}

.hp__footer-btn p {         /* The button is actually this <p>, not clickable, style this "button" */
  font-size: 18px;
  font-family: var(--font-family);
  line-height: 21px;
  color: #fff;
  word-spacing: 2px;
}

.hp__footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  text-align: left;
}

.hp__footer-links div {
  width: 250px;
  margin: 1rem;
}

.hp__footer-links_logo {
  display: flex;
  flex-direction: column;
}

.hp__footer-links_logo img {
  width: 118px;
  height: 30px;

  margin-bottom: 1rem;
}

.hp__footer-links_logo p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}

.hp__footer-links_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.hp__footer-links_div h4 {
  font-size: 14px;
  line-height: 17px;
  font-family: var(--font-family);
  color: #fff;

  margin-bottom: 0.9rem;
}

.hp__footer-links_div p {
  font-size: 12px;
  line-height: 15px;
  font-family: var(--font-family);
  color: #fff;

  margin: 0.5rem 0;
  cursor: pointer;
}

.hp__footer-copyright {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.hp__footer-copyright p {
  font-size: 12px;
  font-family: var(--font-family);
  line-height: 15px;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .hp__footer-heading h1 {
      font-size: 44px;
      line-height: 50px;
  }
}

@media screen and (max-width: 550px) {
  .hp__footer-heading h1 {
      font-size: 34px;
      line-height: 42px;
  }

  .hp__footer-links div {
      margin: 1rem 0;
  }

  .hp__footer-btn p {
      font-size: 14px;
      line-height: 20px;
  }
}

@media screen and (max-width: 400px) {
  .hp__footer-heading h1 {
      font-size: 27px;
      line-height: 38px;
  }
}
